/* 
    * bootstrap 4.4 breakpoints resolutions
        sm: 575.98px
        md: 767.98px
        lg: 991.98px
        xl: 1199.98px
*/

body {
    background-color: #f8f9fa!important
}

.text-decoration-underline {
    text-decoration: underline
}

.layer-shadow {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4)
}

.pointer {
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .display-sm-3 {
      font-size: inherit;
    }
  }

@media (min-width: 575.98px) {
    .display-md-3 {
      font-size: 4.5rem;
    }
  }
